html,
body {
    height: 100%;
}

body {
    background:
        radial-gradient(ellipse at top, var(--bg-color-1), var(--bg-color-2)),
        radial-gradient(ellipse at bottom, var(--bg-color-1), var(--bg-color-2));
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

.container-fluid {
    height: 100%;
}

.box {
    width: 150px;
    height: 125px;
    border-radius: 5px;
    background-color: #DC3645;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Font size*/
.global-score {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
    position: relative;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
}

main p {
    font-size: 2.5em;
}